body {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 120%;
	background-color: #beb0e6;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	padding: none;
}

header {
	position: relative;
	background-color: #ccddff;
	margin: 0px;
	padding: 10px;
}

nav > a, nav > a:visited {
	color: black;
}

h1, h2 {
	text-align: center;
}

div.content {
	padding: 15px;
}

form div {
	padding-bottom: 10px;
}

textarea {
	width: 25%;
	height: 10%;
}

input {
	border: 1px solid #434242;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

form {
	display: flex;
	flex-direction: column;
	align-items: center; 
	width: 100%;
	max-width: 500px; 
	margin: auto; 
}

form label {
	display: block;
	text-align: center; 
	font-weight: bold;
	margin-bottom: 0.25em;
}

form input, form textarea {
	width: 100%;
	max-width: 300px; 
	padding: 0.5%;
	border-radius: 5px;
	border: 1px solid #434242;
	font-size: 120%;
	text-align: center; 
}

form textarea {
	height: 150px; 
}

button {
    padding: 8px 10px;
    background-color: #8965bb;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #462661;
}